<link rel="stylesheet" href="/components/inspiration/inspiration.css">
<div class="carousel">
    <a class="carousel-item" href="#one!"><img class="image-height" src="https://s3-eu-west-1.amazonaws.com/logs.omnibuilder/undefined/24cc2853-59ad-48ff-82ca-8f8c7f797771.jpg"></a>
    <a class="carousel-item" href="#two!"><img class="image-height" src="https://s3-eu-west-1.amazonaws.com/logs.omnibuilder/undefined/fe85838b-d8e3-44ed-900b-ab55eaf2d65e.jpg"></a>
    <a class="carousel-item" href="#three!"><img class="image-height" src="https://s3-eu-west-1.amazonaws.com/logs.omnibuilder/undefined/e0cc07d6-f395-48b0-9e8f-697e5ee881c5.jpg"></a>
    <a class="carousel-item" href="#four!"><img class="image-height" src="https://s3-eu-west-1.amazonaws.com/logs.omnibuilder/undefined/b10cd7eb-d120-4960-ac9b-87a835f3e3ac.jpg"></a>
</div>
<!--jquery invoked for carousel-->
<script src="/components/inspiration/inspiration.styles.js"></script>