<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center anna-heading">ANNA HARDING</h1>
            <div class="row center">
                <h5 class="header col s12 anna-main">CONTEMPORARY HANDMADE JEWELLERY</h5>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <img style="width: 70%; height: auto" src="https://s3-eu-west-1.amazonaws.com/logs.omnibuilder/undefined/ab96fbd7-2ecf-4245-a56c-a0ca1e49fac4.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <img src="https://s3-eu-west-1.amazonaws.com/logs.omnibuilder/undefined/10937936-7a57-47b6-bdb9-030e515e1f08.jpg" alt="">
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">ANNA HARDING JEWELLERY</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>
<script src="/js/init.js"></script>