p {
    font-family: "Raleway";
    font-family: "Raleway Dots";
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.6em;
    font-size: 1em;
    margin: 0;
}